
body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

/* headerエリア */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
   background: linear-gradient(to right, #3683DC, #84F5F9);
  padding: 20px 30px; /*　上下、左右　*/
  color: #daf8ff;
}

.site-title img {
  height: 120px; /* 実際より大きく見せるサイズ */
  object-fit: contain; /* 画像の比率を維持 */
  margin-bottom: -20px;  /* ロゴ下余白調整　*/
}

.site-title a {
  color: #ffffff;   
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

/* ナビゲーション */
#navi {
  position: fixed;
  top: 0;
  right: -100%;  /* 初期は画面外に隠す */
  width: 90%;
  max-width: 500px;
  height: 100vh;
  background: #FFFFFF;
  padding: 60px 20px;
  box-sizing: border-box;
  transition: right 0.3s ease;
  z-index: 200;
}
#navi ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

#navi li {
  margin-bottom: 15px;
}

#navi a {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
}

#navi.active {
  right: 0;
}

/* ハンバーガーメニュー */
.hamburger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 300;
}

.hamburger span {
  display: block;
  height: 3px;
  background: #3683DC;
  border-radius: 3px;
  transition: all 0.4s ease;
  transform-origin: center;
}

/* ハンバーガーが「×」になる */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(0px, 13px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(0px, -13px);
}

/* マスク（背景黒） */
#mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 55, 55, 0.6);
  z-index: 100;
}

#mask.active {
  display: block;
}

/* スライダー */
.slider {
  position: relative;
  width: 100%;
  max-width: 1000px;   /* 好きな幅に調整 */
  height: 500px;      /* 高さ */
  margin: 10px auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* スライド全体を横並びに */
.slider-container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;  /* スライドの動き */
}

/* 各スライド */
.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* 縦横比を保つ */
  flex-shrink: 0;      /* 縮まないように固定 */
}

.info-box {
  position: absolute;      /* スライダーの上に重ねる */
  top: 20px;               /* 画像の上部から20px */
  left: 20%;   /* 左から　*/
  transform: translateX(-50%);
  z-index: 10;             /* 前面に表示 */
  width: 320px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  padding: 24px 20px 20px 20px;
  font-family: 'Segoe UI', 'Hiragino Sans', 'Meiryo', sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}

.info-item {
    margin-bottom: 16px;
}

.info-item h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 4px 0;
    color: #3683DC;
}
.info-item p {
  font-size: 16px;
  color: #555;
  margin: 0;
}

.schedule-btn,
.holiday-btn {
  display: block;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 12px;
  cursor: pointer;
  letter-spacing: 0.05em;
}

.schedule-btn {
  background: linear-gradient(90deg, #2545e8 0%, #3f75ef 100%);
}

.holiday-btn {
  background: linear-gradient(90deg, #17c7ec 0%, #43e6de 100%);
  margin-bottom: 0;
}

/* 営業日と営業時間部分 */
.open-date {
  font-size: 22px;
  font-weight: bold;
  color: #222;
  margin-bottom: 2px;
}

.open-time {
  font-size: 16px;
  color: #444;
  margin-bottom: 8px;
}

.open-note {
  font-size: 12px;
  color: #888;
  margin-bottom: 16px;
}


/* 常設ボタンのデザイン */ 

.nav-buttons {
  position: absolute;   
  top: 570px;           /* 上から20pxの位置 */
  left: 50%;            /* 横中央　*/
  transform: translateX(-50%); /* 横中央に　*/
  display: flex;
  gap: 10px;
  z-index: 50;
 
}

.nav-buttons a,
.nav-buttons button {
  display: inline-block;
  width: 130px;   /* ボタンの横幅を120pxに固定 */
  height: 40px;   /* ボタンの高さを40pxに固定 */
  background: rgba(0,0,0,0.6); /* 半透明の背景 */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;   /* 文字サイズも固定 */
  padding: 0px;   /* 内側の余白をゼロに*/
  line-height: 40px;
  text-align: center;
  border: none;
  transition: background 0.3s;
  cursor: pointer;
}

.nav-buttons a:hover {
  background: rgba(0,0,0,0.9);
}
.nav-buttons.disable-pointer {
  pointer-events: none;
}

.main-contents h1 {
  color: #3683DC;
  font-weight: bold;
}

.main-contents a {
    text-decoration: none; 
    }

.news-image{
    width:100%;
    min-height: 150px;
    display: block;
    overflow: hidden;
}

.news-image img{
  width: 100%;
  position: relative;
  z-index: 1;
  transition: all 4s ease;
 
}

.news-image:hover img{
  transform: scale(2.0) !important;
}


.event-discription button{
  background-color:#3683DC;
  color:#eeeeee;
}

.event-image img{
  border-radius: 0.4em;
}


.read-more{
  position: relative;
  z-index: 1;
  padding: 0 10px;
  display: inline-block;
  font-weight: bold;
  color:#3683DC;
}



.jelly-fish { 
    border-radius: 30px; 
    margin:15px;
    padding: 15px; /* 内側の余白 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 軽い影 */
    background: linear-gradient(-225deg, #fff2fc 0%, #f0eefe 56%, #f1fcfe 100%);
    text-align: center;
}

.jelly-fish-r{
  transform: scale(-1, 1);
}

.jelly-fish button{
  background-color:#bffbff ;
  color:#333333;
}

.jf-anime{
  border-radius: 0.5rem;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 10s;
}

.keyframel{
  animation-name: anim_l;
  transform: rotate(2deg);
  animation-duration: 10s;
}

@keyframes anim_l {
  41% {
    transform: rotate(-1.5deg);
  }
  93% {
    transform: rotate(1deg);
  }
}
  .keyframer{
  animation-name: anim_r;
  transform: rotate(2deg);
  animation-duration: 10s;
}

@keyframes anim_r {
  77% {
    transform: rotate(-2deg);
  }
  24% {
    transform: rotate(1.5deg);
  }
}

.read-more::before {
  background: #3683DC;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: all 2s ease;
  z-index: -1;
}

.read-more:hover {
  color:#ffffff;
}

.read-more:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}



  /* 料金表 */


.table{
  font-size: 120%;
  vertical-align: middle;
}

.table  th:nth-child(n+2){
  background-color: #3683DC;
}

/* ここから秋村 */
.container {
    max-width: 900px;
    width: 90%;
}

.map h2 {
  color: #3683DC;
  font-size: 2.5rem;
  text-shadow: 1px 2px 1px #dcdcdc;
}

.sns {
    background-color: #ffffff;
}

.sns h2 {
    color: transparent;
    background: linear-gradient(to right, #3ed4f6, #39aaf5);
    background-clip: text;
    font-size: 3.2rem;
}

#sns_icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    gap: 0;
}

.sns-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.5s 0s ease;
}

.sns-item i {
    font-size: 4.5rem;
    display: block;
    margin-bottom: 10px;
}

.sns-item:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

#info {
    background-color: #56aefb;
}

address {
    line-height: 1.8;
    word-break: keep-all;
}

#tel {
    text-decoration: none;
    color: inherit;
}

#info_logo {
    width: 100%;
    height: 100px;
}